# Игнорируем виртуальное окружение
venv/
.env
*.env

# Игнорируем файлы, создаваемые IDE (PyCharm)
.idea/
.vscode/

# Игнорируем файлы кеша и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем миграции (если не хотим их коммитить)
*/migrations/*.py
!*/migrations/__init__.py

# Игнорируем файлы базы данных
*.sqlite3

# Игнорируем статику и медиа (если они генерируются автоматически)
static/
media/

# Игнорируем файлы логов и дампы базы данных
*.log
*.dump
